<aside class="sidenav">
  <ul>
    <li class="welcome"><img src="../assets/icons/music_logo.png" alt="music logo"></li>
    <li><a href="../pages/index.html"><i class="fa fa-house-user"></i> Dashboard</a></li>
    <li><a class="active" href="../pages/orders.html"><i class="fa fa-sticky-note"></i> Orders</a></li>
    <li><a href="../pages/products.html"><i class="fa fa-shopping-cart"></i> Products</a></li>
    <li><a href="../pages/customers.html"><i class="fa fa-user"></i> Customers</a></li>
    <li><a href="../pages/report.html"><i class="fa fa-list-alt"></i> Report</a></li>
    <li><a href="../pages/integration.html"><i class="fab fa-buffer"></i> Integrations</a></li>
    <li><a href="../pages/settings.html"><i class="fa fa-sliders-h"></i> Settings</a></li>
    <li><a href="../pages/logout.html"><i class="fa fa-person-booth"></i> Log-out</a></li>
  </ul>
</aside>